body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}
  
input {
    display: block;
    flex-grow: 1; 
    margin-right: 10px;
    padding: 1.5rem 2rem;
}
  
button {
    padding: 1.5rem 2rem;
    background-color: white;
    border: none;
}

.addbutton {
    border: 1px solid #111;
}

.list {
    margin-top: 1rem;
}

.todocard {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    background-color: white;
    cursor: grab;
}

.todocard:active {
    opacity: 1;
    border: 1px solid #111;
}

p {
    flex-grow: 1; 
    margin-right: 10px; 
    padding: 10px;
}
  
.buttonsheet {
    padding: 10px;
}